.main{
  margin-top: 5%;
  text-align: center;
}
.foodList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form{
  margin-left: 10%;
  width: 80%;
  text-align: left;
}

#addFood{
  text-align: center;
}