.main{
  margin-top: 5%;
  text-align: center;
}
.foodList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.show{
  display:contents;
}

.hide{
  display: none;
}

#show{
  display:inline-block;
}

#hide{
  display: none;
}

.form{
  margin-left: 5%;
  width: 90%;
  text-align: left;
}
#buttonCreate{
  margin-top: 2%;
  margin-left: 80%;
}

#addFoodTitle{
  text-align: center;
}

.search{
  margin-left: 5%;
  width: 90%;
  text-align: left;
}

#searchTitle{
  text-align: center;
}